.list {
    margin: 10px;
    padding: 10px;
    margin: auto;
    width: 1000px;
}

img {
    width: 500px;
    height: 200px;
}

li {
    list-style:none;
    display: inline-block;
}

strong {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 300px;
    white-space: nowrap;
}

#load {
    display: block;
}

.btn-default {
    background-color: salmon;
    margin: 0px auto;
}